<!DOCTYPE html>
<html lang="ba">
<head>
    {% load i18n %}
	<title>ŽIŽA.ba | {% trans 'Oglas' %}</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="description" content="Platforma za poslovne ponude, B2B suradnje i pronalazak ljudskih resursa.">
    <meta name="keywords" content="žiža, posao, B2B suradnja, ponuda, potražnja, oglasi za posao">
    <meta name="author" content="META5">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="style-oglas.css">
</head>
<body>
	<div class="coverSlika">
		<div class="navigacija">
			<div class="breadcrumb">
				<a href="#">{% trans 'Početna' %}</a>
				<img src="images/arrowDesnoZuto.png">
				<a href="#">Oglasi</a>
				<img src="images/arrowDesnoZuto.png">
				<a href="#">Industrija</a>
			</div>
			<div class="linijaD"></div>
		</div>
		<div class="tvrtka">
			<div class="avatarKucica">
				<img src="images/preventLogo.png">
			</div>
			<div class="podaciT">
				<div>TVRTKA</div>
				<div>PREVENT grupacija</div>
				<div>
					<span></span>
					<span>Vidi ostale PREVENT oglase</span>
				</div>
			</div>
		</div>
	</div>
	<div class="glavniDio">
		<div class="uvodniDio">
			<div class="trazimo">
				<h2><span>OGLAS /</span> TRAŽIMO STROJARA</h2>
				<p>Prijavom na oglas {{ user.first_name }} ima uvid u vaš CV!</p>
			</div>
			<div class="downloadPDF">
				<img src="images/downloadikona.png"> PDF OGLAS
			</div>
		</div>
		<div class="tabelarni">
			<div>
				<h3>MOSTAR</h3>
				<p>LOKACIJA</p>
			</div>
			<div class="malaLinija"></div>
			<div>
				<h3>STROJAR</h3>
				<p>POZICIJA</p>
			</div>
			<div class="malaLinija"></div>
			<div>
				<h3>3+</h3>
				<p>GODINE ISKUSTVA</p>
			</div>
			<div class="malaLinija"></div>
			<div>
				<h3>B</h3>
				<p>VOZAČKA KATEGORIJA</p>
			</div>
		</div>
		<div class="detaljniOpis">
			<p>Lorem ipsum dolor sit amet, torquatos omittantur neglegentur te cum. Eos idque noluisse nominati et, cu nec duis summo ornatus. Ex vim laboramus vituperata. Vix novum vocent at, in duo congue decore. Ea eirmod vidisse ius, ex elitr facilisi vix, dicant nonumes definitionem nec ne. His dicant mucius debitis te, in harum aeterno scriptorem his. Quo in quaeque imperdiet, mei aeterno quaerendum an.</p>
			<p>Ea quo constituam neglegentur, maluisset salutatus et vel. Eligendi democritum ea est. Eam lorem quodsi ad, et adhuc labitur sadipscing mea, nec essent accusamus torquatos ex. Pri soleat constituto et, latine tamquam pro no, eu iusto diceret eos. An per dicta facilisis definitiones.</p>
			<p>Dico legere ex mea, cu habemus pertinax vis, ea mediocrem comprehensam sit. Impedit docendi offendit vix et. Tantas verear democritum sit an, mei invenire consetetur honestatis ei. Ad his iriure ceteros oporteat.</p>
		</div>
		<div class="navigacijaFooter">
			<div class="prevTraka">
				<img src="images/lijevoOglas.png" style="cursor: pointer;" class="lijevoEd">
				<div>
					<span>PRIJAŠNJI OGLAS</span>
					<span>Violeta</span>
				</div>
			</div>
			<img src="images/prijavaoglas.png" class="srednjaSlika" style="cursor: pointer;">
			<div class="prevTraka" style="justify-content: flex-end;">
				<div style="margin-left: 0">
					<span>SLJEDEĆI OGLAS</span>
					<span style="color: #f89101; text-align: right;">Volkswagen</span>
				</div>
				<img src="images/desnoOglas.png" style="margin-right: 39px; cursor: pointer;" class="desnoEd">
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
<script type="text/javascript" src="skripta.js"></script>
</html>