	body{
		background-color: #fefdfa;
	}
		.searchTop{
			margin-top: -70px;
			height: 408px;
			background-image: linear-gradient(236deg, #e6b634, #f6e25d);
		}
		.header{
			background-color: transparent;
		}
		.header__navigation{
			box-shadow: none;
		}
		.searchTop{
			position: relative;
			z-index: -100;
			background-image: linear-gradient(236deg, #e6b634, #f6e25d);
		}
		.searchTop h1{
			font-size: 46px;
  			font-weight: 900;
  			font-family: 'Galano Black';
  			margin: 0;
  			padding-top: 270px;
  			text-align: center;
  			margin-left: -410px;
  					}
		select{
    	-ms-flex-item-align: center; 
    	-ms-grid-row-align: center; 
    	align-self: center; 
    	width: 340px; 
    	height: 60px; 
    	outline: none; 
    	border-radius: 5px; 
    	background-color: #ffffff;
    	 border: solid 1px #dddddd; 
    	 padding-left: 21px; 
    	 font-family: Poppins; 
    	 font-size: 15px; 
    	 margin: 0; 
    	 -webkit-box-sizing: border-box; 
    	 box-sizing: border-box;
    	 -webkit-appearance: none; 
    	 -moz-appearance: none; 
    	 background: url(https://i.imgur.com/p3TtdcH.png) no-repeat right #fff; 
    	 background-size: 12px; 
    	 background-position-x: 305px;
    	 background-color: #eeede7;
    	 border: 0;
    	font-family: 'Galano Regular';
    	color: #7c7a71;
    	  box-shadow: inset 3px 0px 0 0 #e1e0da;
    	  border-top-left-radius: 0;
    	  border-bottom-left-radius: 0;
    	  margin-left: -4px;

	}

		.specBoxSel{
			width: 380px;
			background: url(https://i.imgur.com/QWsub6H.png) no-repeat right #fff; 
    	 	background-position-x: 325px;
    	 	 background-color: #eeede7;
		}

    	select:focus, select:focus::-webkit-input-placeholder {
    		color: #262626;
    		background-color: white;
		}

		


	input{
    	-ms-flex-item-align: center; 
    	-ms-grid-row-align: center; 
    	align-self: center; 
    	width: 239px; 
    	height: 60px; 
    	background-color: #ffffff;
    	 padding-left: 21px; 
    	 font-family: Poppins; 
    	 font-size: 15px; 
    	 margin: 0; 
    	 -webkit-box-sizing: border-box; 
    	 box-sizing: border-box;
    	 -webkit-appearance: none; 
    	 -moz-appearance: none; 
    	 border: 0;
    	 box-shadow: 0px 10px 40px 0 rgba(238, 220, 166, 0.3);
    	 font-size: 16px;
    	 font-family: 'Galano Regular';
    	 color: #7c7a71;
    	 background-color: #eeede7;
    	 outline: none;
    	 border-top-right-radius: 0;
    	  border-bottom-right-radius: 0;
    	}

    	input:focus, input:focus::-webkit-input-placeholder {
    		color: #262626;
    		background-color: white;
		}


		label {
	  height: 9px;
	  mix-blend-mode: undefined;
	  font-family: Poppins;
	  font-size: 15px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2.55;
	  letter-spacing: 0.6px;
	  text-align: left;
	  color: #7a7a7a;
	  color: black;
	}

	input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
   font-family: Poppins;
	  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #00a3fa;
  position: absolute;
  left: 0;
  top: 5px;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  -o-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 0px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
n-top: 30px;
}
	input[type=submit] {
	  width: 100%;
	  height: 48px;
	  mix-blend-mode: undefined;
	  border-radius: 5px;
	  background-color: #00a3fa;
	  border: 0;
	  font-family: Poppins;
	  font-size: 18px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 0.1px;
	  text-align: center;
	  color: #ffffff;
	}
	.searchBox{
		margin-top: -78px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.searchBox img{
		margin-left: -23px;
	}

	.searchBox .prviRedTrake{
		display: flex;
	}
	.searchBox .napomene{
		color: #b5b4af;
		font-size: 12px;
		font-family: 'Galano Regular';
		display: flex;
		align-self: center;
		margin-left: -610px;
		margin-top: -40px;
	}
	.srce{
		width: 51px;
  height: 51px;
  mix-blend-mode: undefined;
  border-radius: 16px;
  background-color: #262626;
  box-shadow: 0px 5px 10px 0 rgba(38, 38, 38, 0.25);
  margin-top: 15px;
  display: flex;
  justify-content: center;align-items: center;
	}
	.struka{
		text-shadow: 0px 5px 10px rgba(22, 22, 22, 0.25);
		color: #eeede7;
		font-size: 18px;
		font-family: 'Galano Black';
		margin-bottom: 19px;
		margin-left: 5px;
		margin-top: -15px;
	}
	.pozicija{
		color: #262626;
		font-size: 23px;
		font-family: 'Galano Medium';
		width: 330px;
		margin-left: 5px;
		margin-top: -12.5px;
		text-align: center;
	}
	.vrijeme{
		font-size: 14px;
		color: #7c7a71;
		font-family: 'Galano Regular';
		margin-top: 10px;
	}
	.lokacijarada{
		font-size: 14px;
		color: #262626;
		font-family: 'Galano Regular';
		margin-top: -1px;
	}
	.single-kucica{
		display: flex; 
		flex-direction: column; 
		width: 616px; 
		height: 577px; 
		background-image: url('images/aktivna.png');
	}
	.logotipFirme{
		width: 470px; 
		height: 217px; 
		margin-top: 56px; 
		margin-left: 75px; 
		display: flex;
		justify-content: center; 
		align-items: center;
	}
	.logotipFirme img{
		margin-left: 5px; 
		margin-bottom: -20px
	}
	.jobInfo{
		width: 470px; 
		height: 217px; 
		margin-left: 75px; 
		display: flex; 
		justify-content: center;
		align-items: center; 
		flex-direction: column;
	}
	.kolona{
		display: flex;
		flex-direction: column;
	}
	.kucice{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.respKuc{
		display: none;
		visibility: hidden;
	}
	.srednjaKol{
		margin-top: 500px;
		margin-left: -200px;
		margin-right: -200px
	}
	.kucice{
		margin-top: -170px;
	}
	.burgerMenu{
		display: none;
		visibility: hidden;
	}
	@media screen and (max-width: 1320px){
		.respKol{
			display: none;
			visibility: hidden;
		}
		.respKuc{
			display: block;
			visibility: visible;
		}
		.srednjaKol{
			margin: 0;
			margin-left: -200px;
			margin-right: 200px;
		}
		.kucice{
			margin-top: 0;
		}
		.firstKol{
			margin-left: 200px;
		}
	}
	@media screen and (max-width: 892px){
		.kucice{
			flex-wrap: wrap;
		}
		.srednjaKol{
			margin: 0;
			margin-top: -80px;
		}
		.firstKol{
			margin-left: 0px;
		}
	}
	@media screen and (max-width: 892px){
		.kucice{
			transform: scale(0.7);
			margin-top: -650px;
		}
	}
	@media screen and (max-width: 1130px){
		.header{
			display: none;
			visibility: hidden;
		}
		.burgerMenu{
			display: block;
			visibility: visible;
		}
	}
	@media screen and (max-width: 1119px){
		.searchTop{
			height: 550px;
		}
		.prviRedTrake{
			flex-direction: column;
			align-items: center;
			margin-top: -150px;
			margin-bottom: 90px;
		}
		input{
			width: 380px;
			margin-left: -2px;
			box-shadow: inset 0px 1.5px 0px 0 #e1e0da;
			border-top-right-radius: 20px;
		}
		.specBoxSel{
			background-position-x: 353px;
			border-bottom-right-radius: 20px;
			margin-left: 0;
		}
		.napomene{
			display: none;
			visibility: hidden;
		}
		select{
			box-shadow: inset 0px 1.5px 0px 0 #e1e0da;
			width: 315px;
			margin-left: -67px;
			background-position-x: 350px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0; 
		}
		.prviRedTrake img{
			position: absolute;
			margin-left: 200px;
			margin-top: 9px;
		}
		.searchTop h1{
			margin: 0 auto;
			top:-70px;
			position: relative;
		}
		.prviRedTrake{
			margin-left: -80px;
		}
	}
	@media screen and (max-width: 688px){
		.searchTop{
			height: 600px;
		}
		.prviRedTrake{
			margin-top: -148px;
		}
		.searchTop h1{
			top:-70px;
		}
	}
	@media screen and (max-width: 503px){
		.searchTop h1{
			top: -60px;
		}
		.prviRedTrake{
			margin-top: -150px;
		}
		.searchTop{
			height: 700px;
		}
		input{
			width: 230px;
			margin-left: 0px;
			box-shadow: inset 0px 1.5px 0px 0 #e1e0da;
			border-top-right-radius: 20px;
		}
		.specBoxSel{
			background-position-x: 353px;
			border-bottom-right-radius: 20px;
			margin-left: 0;
			width: 230px;
		}
		select{
			box-shadow: inset 0px 1.5px 0px 0 #e1e0da;
			width: 230px;
			margin-left: 0px;
			background-position-x: 350px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0; 
		}
		.prviRedTrake img{
			position: absolute;
			margin-left: 120px;
			margin-top: 9px;
		}
	}