.detaljniOpis p{
		color: #7c7a71;
		font-size: 20px;
		text-align: justify;
		line-height: 1.7;
	}
	.detaljniOpis{
		overflow-y: hidden;
	}
	.detaljniOpis + [data-readmore-toggle] {
		width: 90px;
		height: 30px;
		border-radius: 15px;
		background-color: #262626;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		font-family: 'Galano Black';
		font-size: 10px;	
		line-height: 2.8;
		color: #f9f5e5;
		text-decoration: none;
		margin: 0 auto;
		margin-left: 790px;
	}
	@media screen and (max-width: 1364px){
		.detaljniOpis + [data-readmore-toggle] {
			margin-left: 635px;
		}
	}
	@media screen and (max-width: 1436px){
		.detaljniOpis + [data-readmore-toggle] {
			margin-left: 680px;
		}
	}
	@media screen and (max-width: 832px){
		.detaljniOpis + [data-readmore-toggle] {
			margin-left: 365px;
		}
	}
	.trazimo{
		 font-size: 30px;
	}
	.tabelaRasa{
		width: 1160px;
  		background-color: #eeede7;
  		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}
	.tabelaRasa:nth-child(1){
		border-top-left-radius: 26px;
		border-top-right-radius: 26px;
	}
	.tabelaRasa:nth-last-child(1){
		border-bottom-left-radius: 26px;
		border-bottom-right-radius: 26px;
		border-bottom: 0;
	}
	.tabelaRasa div:nth-child(1){
		height: 182px;
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
	}
	.srce {
	    width: 51px !important;
	    height: 51px;
	    mix-blend-mode: undefined;
	    border-radius: 16px;
	    background-color: #262626;
	    box-shadow: 0px 5px 10px 0 rgba(38, 38, 38, 0.25);
	    margin-top: 15px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    margin-right: 84px;
	}
	.tabelaRasa div:nth-child(1) div:nth-child(1){
		display: flex;
		flex-direction: column;
	}
	.tabelaRasa div:nth-child(1) div:nth-child(1) div:nth-child(1){
			color: #262626;
			font-size: 24px;
			font-family: 'Galano Medium';
			margin-left: -75px !important;
			margin-bottom: 22px;
	}
	.tabelaRasa > div div:nth-child(1){
		height: auto;
		margin-left: 62px;
	}
	.tabelaRasa span:nth-child(1){
		font-family: 'Galano Black';
		font-size: 14px;
		color: #000000;
	}
	.tabelaRasa span:nth-child(2) span:nth-child(1){
		font-family: 'Galano Regular';
		font-size: 14px;
		color: #7c7a71;
		margin-left: 30px;
	}
	.tabelaRasa span:nth-child(2){
		font-family: 'Galano Regular';
	}
	.uvodniDio:nth-of-type(5){
		display: flex;
		flex-direction: column;
	}
	.tabelaRasa:hover{
		border-radius: 5px;
		background-color: #fecc35;
		box-shadow: 0px 20px 80px 0 rgba(248, 145, 1, 0.2);
		transform: scale(1.01);
		border-bottom: 0;
		cursor: pointer;
	}
	.tabelaRasa:hover::before{		
		border-bottom: 0px;
	}
	.uvodniDio:nth-of-type(5) p{
		font-size: 16px;
		color: #b5b4af;
		font-family: 'Galano Regular';
		margin-top: 37px;
	}
	.navigacijaTipke {
			display: flex;
			margin-left: 330px;
		}
		.navigacijaTipke div{
			cursor: pointer;
			height: 40px;
			width: 35px;
			border-radius: 3px;
			background-color: #fff;
			font-size: 14px;
			color: #7c7a71;
			font-family: 'Galano Regular';
			display: flex;
  			justify-content: center;
  			align-items: center;
  			margin: 0 auto;
		}
		.navigacijaTipke > div{
			margin-right: 5px;
		}
		.navigacijaTipke > div:hover{
			background-color: #ffffff;
  			box-shadow: 0px 5px 10px 0 rgba(177, 176, 171, 0.25);
  			color: #f89101;
		}
		.activTip{
  			background-color: #f89101 !important;
  			box-shadow: 0px 5px 10px 0 rgba(248, 145, 1, 0.3) !important;
  			color: #fff !important;
		}
		@media only screen and (max-width: 889px){
			.kucice{
				margin-bottom: -650px;
			}
			.navigacijaTipke {
				margin-left: 0;
				justify-content: center;
				margin-bottom: -50px;
			}
		}
		body{
			max-width: 100%;
		}

		@media only screen and (max-width: 414px){
			.avatarKucica{
				margin-left: 68px;
			}
			.detaljniOpis + [data-readmore-toggle] {
			    margin-left: 165px;
			}
			.srce{
				display: none;
			}
			.tabelaRasa {
			    width: 400px;
			}
			.tabelaRasa div div div:nth-child(2){
				display: flex;
				flex-direction: column;
			}
			.tabelaRasa div:nth-child(1) div:nth-child(1) div:nth-child(1){
				font-size: 20px;
			}
			.trazimo {
			    margin-top: 154px;
			}
			.trazimo h2{
				margin-left: 25px;
				margin-bottom: 40px;
			}
			.navigacijaTipke{
				display: none;
			}
			.navigacijaFooter {
			    margin-left: 50px;
			    margin-bottom: 30px;
			}
		}

		@media only screen and (max-width: 1279px){
			.uvodniDio, .tabelarni, .detaljniOpis, .navigacijaFooter {
			    width: 1200px;
			}
			.detaljniOpis + [data-readmore-toggle] {
			    margin: 0 auto;
			    margin-top: -20px;
			}
			.detaljniOpis{
				margin-bottom: 20px;
			}
			.navigacijaTipke{
				margin-top: 30px;
				margin-left: 350px;
			}
			.navigacija{
				max-width: 700px;
			}
			.tvrtka{
				max-width: 800px;
			}
		}

		@media only screen and (max-width: 1177px){
			.uvodniDio, .tabelarni, .detaljniOpis, .navigacijaFooter {
			    width: 800px;
			}
			.tabelaRasa{
				width: 800px;
			}
			.tabelarni{
				flex-wrap: wrap;
			}
			.tabelarni div{
				width: 300px;
			}
			.malaLinija{
				display: none !important;
			}
			.tabelarni div:nth-child(5), .tabelarni div:nth-child(7){
				margin-top: 20px;
			}
			.tabelarniUvodniDio{
				margin-top: -30px !important;
			}
			.navigacijaTipke{
				margin: 0 !important;
				margin: 0 auto !important;
				margin-top: 30px !important;
				margin-bottom: 30px !important;
			}
		}

		@media only screen and (max-width: 843px){
			.uvodniDio, .tabelarni, .detaljniOpis, .navigacijaFooter {
			    width: 500px;
			}
			.tabelaRasa{
				width: 500px;
			}
			.srce{
				display: none;
			}
		}

		@media only screen and (max-width: 661px){
			.coverSlika {
			    height: 500px;
			}
			.tvrtka{
				display: flex;
				flex-direction: column;
			}
			.podaciT {
			    order: 1;
			    margin-top: 30px;
			}
			.avatarKucica {
			    order: 2;
			 	margin: 0 auto;
			    margin-bottom: -90px;
			    margin-top: 70px
			}
		}

		@media only screen and (max-width: 570px){
			.navigacija {
			    margin-left: 80px;
			}
		}

		@media only screen and (max-width: 511px){
			.navigacija {
			    margin-left: 80px;
			}
			.uvodniDio, .tabelarni, .detaljniOpis, .navigacijaFooter {
			    width: 400px;
			}
			.tabelaRasa{
				width: 400px;
			}
		}

		@media only screen and (max-width: 445px){
			.navigacija{
				margin-left: 150px;
			}
			.tabelaRasa div div div:nth-child(2) {
			    display: flex;
			    flex-direction: column;
			}
			.tabelaRasa div div div:nth-child(2) span:nth-child(2){
				margin-left: -30px;
			}
		}

		@media only screen and (max-width: 413px){
			.navigacijaFooter {
			    width: 300px !important;
			}
			.uvodniDio, .tabelarni, .detaljniOpis, .navigacijaFooter {
			    width: 300px;
			}
		} 

		@media only screen and (max-width: 375px){
			.breadcrumb{
				margin-left: -240px;
			}
			.avatarKucica{
				margin-left: 40px;
			}
			.trazimo{
				margin-top: 80px;
			}
			.tabelarni{
				margin-top: 20px;
			}
			.trazimo h2{
				display: none;
			}
			.tabelarniDio{
				margin-top: 100px;
			}
			.detaljniOpis + [data-readmore-toggle] {
			    margin-left: 145px;
			}
			.navigacijaFooter {
			    margin-left: 34px;
			}
			.glavniDio{
				overflow-x: hidden;
			}
			body{
				width: 375px !important;
			}
			.navigacija{
				overflow-x: hidden;
				margin-left: 0;
				padding-left: 170px;
			}
		}