{% load static %}
{% load i18n %}
<div class="footer">
		<div class="footer__traka">
			<div class="footer__traka--logo">
				<img src="{% static 'images/logoNew.png' %}">
			</div>
			<div class="header__navigation--call" style="margin-top: 20px; margin-left: 266px">
				<img src="{% static 'images/optimised/dial-min.png' %}" draggable="false" width="11px" height="16px">
				<p><a href="tel:+387603158565" style="margin-right: 5px">+387 60 315 8565</a> <span class="gray">Pon-Pet 9h-18h</span></p>
			</div>
			<div class="header__navigation--call" style="margin-top: 20px; margin-left: 49px;">
				<img src="{% static 'images/mejl.png' %}" draggable="false" width="16px" height="16px">
				<p style="margin-bottom: 15px; color: #f89101; margin-left: -3px">info@ziza.ba</p>
			</div>
			<div style="margin-top: 37px; margin-left: 100px">
				<a href="https://www.facebook.com/%C5%BDi%C5%BEa-249918849004835/"><img src="{% static 'images/fbg.png' %}" style="margin-right: 14px"></a>
				<a href="https://www.linkedin.com/company/ziza-connect-and-improve-your-business/"><img src="{% static 'images/lg.png' %}" style="margin-right: 14px"></a>
				<img onclick="alert('RSS Feed je prazan!')" src="{% static 'images/rg.png' %}" class="bhresp" style="cursor: pointer; visibility: hidden;">

                <form id="ChLang" action="{% url 'setLang' %}" method="post" style="display: none; visibility: hidden" >
                    {% csrf_token %}
                    <input type="hidden" name="lang" id="lang" value="bs" >
				</form>

                    <img src="{% static 'images/strldl.png' %}" class="bhresp" style="margin-bottom: 7px; margin-left: 8px; visibility: hidden;">
			</div>
		</div>
		<div class="footer__content">
			<div class="footer__content--opis">
				<p>{% trans 'Žiža če Vam uštediti vrijeme, pomoći u kriznim situacijama, izvršiti potrebne promjene, razbuditi i prodrmati ustaljeno poslovanje, otvoriti nove poslovne vidike, (privremeno) nadomjestiti nedostatak adekvatnog kadra i poboljšati poslovanje.' %} <br><br>{% trans 'Biti u ŽIŽI znači' %}: <em>{% trans "'Vidjeti i biti viđen!'" %}</em></p>
				<a href="{% url 'onama' %}">{% trans 'Više o nama' %}... <img src="{% static 'images/arrowDesno.png' %}" style="margin-left: 10px"></a>
			</div>
			<div class="footer__content--navigacija">
				<h3>{% trans 'Za poslovni sektor' %}</h3>
				<div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
					<div class="footer__content--navigacija--item"><img src="{% static 'images/malaDesno.png' %}">{% trans 'Povećajte ponudu i potražnju' %}</div>
					<div class="footer__content--navigacija--item"><img src="{% static 'images/malaDesno.png' %}">{% trans 'Povećajte proizvodne kapacitete' %}</div>
					<div class="footer__content--navigacija--item"><img src="{% static 'images/malaDesno.png' %}">{% trans 'Zaposlite adekvatno osoblje' %}</div>
					<div class="footer__content--navigacija--item"><img src="{% static 'images/malaDesno.png' %}">{% trans 'Poslovno se vežite' %}</div>
					<div class="footer__content--navigacija--item"><img src="{% static 'images/malaDesno.png' %}">{% trans 'Edukujte kadrove' %}</div>
				</div>
			</div>
			<div class="footer__content--navigacija">
				<h3>{% trans 'Za ljudski potencijal' %}</h3>
				<div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
					<div class="footer__content--navigacija--item"><img src="{% static 'images/malaDesno.png' %}">{% trans 'Pronađite posao' %}</div>
					<div class="footer__content--navigacija--item"><img src="{%  static 'images/malaDesno.png' %}">{% trans 'Dopustite da poslodavac' %}<br> {% trans 'pronađe Vas' %}</div>
					<div class="footer__content--navigacija--item"><img src="{% static 'images/malaDesno.png' %}">{% trans 'Edukujte se' %}</div>
					<div class="footer__content--navigacija--item"><img src="{%  static 'images/malaDesno.png' %}">{% trans 'Prekvalifikujte se' %}</div>
				</div>
			</div>
			<div class="footer__content--navigacija">
				<h3>{% trans 'Kontakt' %}</h3>
				<p>Ulica XX 29<br>88104 Mostar<br>Bosna i Hercegovina</p>
				<div style="display: flex;">
					{% if not auth %}
                    <div class="sendInput" style="width: 180px; border-radius: 20px; font-family: Galano Bold; color: white; font-size: 13px; background-color: #f89101; margin-left: 50px;">
						{% trans 'PRIDRUŽI SE' %}
					</div>
                    {% endif %}
				</div>
			</div>
		</div>


		    <style type="text/css">
		    @media screen and (max-width: 1160px){
		    	.regBox label, .regBox select {
		    		font-size: 15px;
		    		margin-top: 3px;
		    	}
		    	.regBox__desno--input--prviRed > div{
		    		margin-top: 50px !important;
		    	}
		    	.regBox__desno--input--prviRed > div:nth-child(1){
		    		margin-top: 0px !important;
		    	}
		    	.regBox__desno h1{
		    		margin-left: 0;
		    		text-align: center !important;
		    	}
		    	.regBox__desno div:nth-child(2) p{
		    		display: none;
		    	}
		    	#submitSlika{
		    		width: 200px;
		    	}
		    	#myBtn3{margin-bottom: 68px}
		    }

		    .tekst{
		    	border-radius: 10px !important;
		    }
		    </style>



		<script type="text/javascript">
		$('.regBox__lijevo--box').click(function(){
		if($(window).width() > 1168){
		$('.regBox').css('width', '1160px');
		$('.regBox__lijevo').css('width', '200px');
		$('.regBox__desno').css('display', 'block');
		 setTimeout(function(){
		 	$('.regBox__desno').css('opacity', '1');
		}, 300);
		 $('.regBox__lijevo--box.active p').css('color', '#f89101');
		} else{
			$('.regBox').css('width', '320px');
			$('.regBox').css('flex-direction', 'column');
			$('.regBox__lijevo, .linijaActive').css('display', 'none');
			$('.regBox__desno--input--prviRed div').css('flex-direction', 'column');
			$('.regBox__desno--input--prviRed .form-group, .regBox__desno--input').css('margin-left', '0');
			$('.regBox input').css('width', '220px');
			$('.regBox select').css('width', '220px !important');
			$('.regBox__desno--input--prviRed div .form-group:nth-child(2)').css('margin-top', '50px');

			$('.regBox').css('height', '920px !important');

		

			$('.regBox__lijevo').css('width', '200px');
			$('.regBox__desno').css('display', 'block');
			setTimeout(function(){
			 	$('.regBox__desno').css('opacity', '1');
			}, 300);
		 	$('.regBox__lijevo--box.active p').css('color', '#f89101');
		}
	});

	$('.close').click(function(){
		$('.logBox').css('height', '504px');
	});




    $(".tReg").click(function(){
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    })

    $(".tLog").click(function(){
        var modal2 = document.getElementById('myModal2');
        modal2.style.display = "block";
    })

	$('#osobaSector').click(function(){
		$('.regBox').css('height', '714px !important');
	});


	$('.closeReg').click(function(){
		$('.registracija .regBox').css('width', '200px');
		$('.registracija .regBox__desno').css('display', 'none');
		$('.registracija .regBox__desno').css('opacity', '0');
		$('#myModal2 .regBox').css('height', '461px');
		$('.registracija.regBox').css('width', '200px');
		$('.registracija.regBox').css('width', '500px');
		$('.regBox__lijevo').css('width', '500px');
	});

	$(".lang").click(function(e){

	    document.querySelector("#lang").value = e.target.getAttribute("data-lng");

	    $("#ChLang").submit();

    });

</script>


{% load sweetify %}
{% sweetify %}