{% load static %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128194280-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128194280-1');
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128194280-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128194280-1');
</script>


<style>

.header__navigation--call{
	margin-left: 30px !important;
}

    a{
        text-decoration: none;
        color: inherit;
    }

  .swal2-header{
  	font-family: 'Galano Bold';
  }
  .swal2-content{
  	font-family: 'Galano Regular';
  }

			.regBox__lijevo--box.active p {
    color: black;
}
	.registracija.regBox{
		width: 200px;
		-webkit-transition:300ms linear;
	-moz-transition:300ms linear;
	-o-transition:300ms linear;
	-ms-transition:300ms linear;
	transition:300ms linear;
	}
	.registracija.regBox, .regBox__lijevo{
		width: 500px;
	}
	.registracija .regBox__desno{
		display: none;
		opacity: 0;
		-webkit-transition:1000ms linear;
	-moz-transition:300ms linear;
	-o-transition:1000ms linear;
	-ms-transition:1000ms linear;
	transition:1000ms linear;
	}
	.regBox__lijevo--box:nth-child(1){
		border-top-right-radius: 10px;
	}
	.regBox__lijevo--box:nth-child(2){
		border-bottom-right-radius: 10px;
	}
	@media screen and (max-width: 610px){
		.logBox{
			width: 330px !important;
		}
		.headLogin{
			flex-direction: column;
		}
		.logBox #naslovTekst{
			text-align: center;
			margin-left: 0;
		}
		#myBtn3{
			font-size: 13px;
		}
		.logBox input, .logBox select{
			width: 231px;
		}
		.logBox #submitLog{
			width: 200px !important;
		}
		.logBox label{
			font-size: 15px;
		}
		.boxHolder{
			margin-top: 40px !important;
		}
		.logBox label{
			margin-top: 3px !important;
		}
		.focused .form-label{
			margin-top: -17px !important;
		}
		.grupField{
			margin-top: 40px !important;
		}
		.registracija.regBox{
			width: 300px;
		}
	}

	.header__language p, .header__language img{ visibility: hidden; }
</style>
<form method="post" action="{% url 'register' %}" id="formaReg">
    {% csrf_token %}
    <input id="vrsta" type="hidden" value="radnik" name="vrsta">

	<div id="myModal" class="modal" style="z-index: 9999999">

	  <div class="regBox registracija">
	  	<img src="../static/images/close.png" width="22px" height="22px" style="position: absolute; right: 20px; top: 20px; cursor: pointer;" class="close">
		<div class="regBox__lijevo">
			<div class="regBox__lijevo--box active" id="osobaSector">
				<img src="../static/images/pcelaobicna.png">
				<p>Prijava<br>kao osoba</p>
			</div>
			<div class="regBox__lijevo--box" id="firmaSector">
				<img src="../static/images/pcelafirma.png" style="margin-top: 5px">
				<p style="margin-top: 4px">Prijava<br>kao firma</p>
			</div>
		</div>
		<div class="regBox__desno">
			<div class="linijaActive" style="position: absolute; left: 0; top: 70px;"></div>
			<div>
				<h1 id="naslovTekst">REGISTRACIJA OSOBE</h1>
				<p style="align-self: flex-end; margin-bottom: 27px; margin-left: 16px">Sva polja potrebna</p>
			</div>
			<div class="regBox__desno--input" style="display: flex; flex-direction: column;" >

				<div class="regBox__desno--input--prviRed" style="display: flex; flex-direction: column;" id="appendTo">
					<div style="display: flex; justify-content: flex-start; align-items: flex-start; position: relative; margin-top: 33px">
						<div class="form-group">
					      <label class="form-label" for="first" id="prviInput">Vaše ime</label>
					      <input name="FirstName" id="first" class="form-input neaktivan" type="text" spellcheck="false">
					    </div>
					    <div class="form-group" style="margin-left: 40px">
					      <label class="form-label" for="last" id="drugiInput">Prezime</label>
					      <input name="LastName" id="last" class="form-input neaktivan" type="text" spellcheck="false">
					    </div>
					</div>
					<div style="display: flex; justify-content: flex-start; align-items: flex-start; position: relative; margin-top: 70px" id="srednjiElement">
						<div class="form-group">
					      <label class="form-label" for="djel" id="Djelatnost"></label>

                    <select name="Category" id="djel">
						<option value="" disabled selected>Izaberite djelatnost</option>
                        {% for i in ind %}
			    		<option value="{{ i.name }}">{{ i.name }}</option>
                        {% endfor %}
					</select>

					    </div>
					    <div class="form-group" style="margin-left: 40px">
					     {% with var=1 %}

			    		{% include 'gradovi.html' %}
                            {% endwith %}
						</select>
					    </div>
					</div>
					<div style="display: flex; justify-content: flex-start; align-items: flex-start; position: relative; margin-top: 70px" class="boxHolder">
						<div class="form-group">
					      <label class="form-label" for="ema">e-mail adresa</label>
					      <input name="mail" id="ema" class="form-input neaktivan" type="email" spellcheck="false">
					    </div>
					    <div class="form-group" style="margin-left: 40px">
					      <label class="form-label" for="pas">lozinka</label>
					      <input name="pswd" id="pass" class="form-input neaktivan" type="password" spellcheck="false">
					    </div>
					</div>
				</div>
				<img id="submitSlika" src="../static/images/send.png" style="margin-top: 60px; cursor: pointer;">
			</div>
		</div>
	</div>
        </div>
</form>

<style type="text/css">
	.logBox{
		width: 600px;
	}
</style>

<form id="formaLog" method="post" action="{% url 'signin' %}">
     {% csrf_token %}

		<div id="myModal2" class="modal" style="z-index: 9999999">

	  <div class="regBox logBox" style="height: 501px">
	  	<img src="../static/images/close.png" width="22px" height="22px" style="position: absolute; right: 20px; top: 20px; cursor: pointer;" class="close closeReg">
		<div class="regBox__desno" style="width: 100%">
			<div style="margin-top: 50px; margin-bottom: 20px" class="headLogin">
				<h1 id="naslovTekst" style="margin-top: 0; margin-bottom: 0">PRIJAVA ZA KORISNIKE</h1>
				<p id="myBtn3" style="cursor: pointer;">Zaboravili ste lozinku?</p>
			</div>
			<div class="regBox__desno--input" style="display: flex; flex-direction: column; margin-left: 0; margin-top: -23px">
				<div class="regBox__desno--input--prviRed" style="display: flex; flex-direction: column;" id="appendTo">
					<div style="display: flex; justify-content: center; align-items: center; position: relative; margin-top: 70px; flex-direction: column;" class="grupField">
						<div class="form-group">
					      <label class="form-label" for="ema">e-mail adresa</label>
					      <input name="mail" id="ema" class="form-input neaktivan" type="email" spellcheck="false">
					    </div>
					    <div class="form-group" style="margin-left: 0px; margin-top: 50px;">
					      <label class="form-label" for="pas">Lozinka</label>
					      <input name="pswd" id="pass" class="form-input neaktivan" type="password" spellcheck="false">
					    </div>
					</div>
				</div>
				<img  onclick="" id="submitLog" src="../static/images/send.png" style="margin-top: 30px; cursor: pointer;">
			</div>
		</div>
	</div>
	</div>
</form>

<style type="text/css">
	.restBox{
		width: 600px;
	}
</style>

<form id="formaRes" method="post" action="{% url 'forgotPassword' %}">

    {% csrf_token %}

		<div id="myModal3" class="modal" style="z-index: 9999999">

	  <div class="regBox restBox" style="height: 421px">
	  	<img src="../static/images/close.png" width="22px" height="22px" style="position: absolute; right: 20px; top: 20px; cursor: pointer;" class="close">
		<div class="regBox__desno" style="width: 100%">
			<div>
				<h1 id="naslovTekst">RESTARTOVANJE LOZINKE</h1>
			</div>
			<div class="regBox__desno--input" style="display: flex; flex-direction: column; margin-left: 0">
				<div class="regBox__desno--input--prviRed" style="display: flex; flex-direction: column;" id="appendTo">
					<div style="display: flex; justify-content: flex-start; align-items: flex-start; position: relative; margin-top: 30px">
						<div class="form-group">
					      <label class="form-label" for="ema">e-mail adresa</label>
					      <input name="mailres" id="ema" class="form-input neaktivan" type="email" spellcheck="false">
					    </div>
					</div>
				</div>
				<img onclick="document.getElementById('formaRes').submit()" id="submitLog" src="../static/images/send.png" style="margin-top: 60px; cursor: pointer;">
			</div>
		</div>
	</div>
	</div>
</form>

<style type="text/css">
ul {list-style: none}
	li::before {content: "•"; color: #f6b81b;
  display: inline-block; width: 1em;
  margin-left: -1em}
  .konsaltingBottom{
  	background-color: #262626; width: 250px; height: 170px; position: absolute;
    top: 70px; color: white; z-index: 999999999999999; text-align: left; font-family: 'Galano Regular'; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; box-shadow:0px 2px 2px black; display: none;
  }
  .header__navigation--linkovi span{
  	cursor: pointer;
  }

</style>

{% if not var2  %}
<!-- NOVA NAVIGACIJA CSS START -->






<style type="text/css">

regBox input, .regBox select{
			width: 331px;
			height: 50px;
			mix-blend-mode: undefined;
			border-radius: 5px;
			background-color: #ffffff;
			box-shadow: 0px 10px 40px 0 rgba(34, 34, 34, 0.1);
			padding: 0;
			margin: 0;
			border: 0;
			padding-left: 29px;
			font-size: 18px;
			line-height: 2.22;
			color: #7c7a71;
			font-family: 'Galano Regular';
			background-color: #eeede7;
		}

.regBox select{
    width: 360px;
}

@media screen and (max-width: 1160px){
		.regBox select{
    		width: 250px;
		}
}


ul {list-style: none}
	li::before {content: ""; color: #f6b81b;
  display: inline-block; width: 1em;
  margin-left: -1em}
  li:nth-child(1){
  	margin-top: 20px;
  }
  li{
  	margin-bottom: 20px;
  }
  ul{
  	position: relative;
  }
  .saStrane{
  	position: absolute; height: 40px; width: 4px; background: #f89101; left: 0px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; top:-6px; visibility: hidden;
  }
  ul .saStrane:nth-child(2){
  	top: 33px !important;
  }
  ul .saStrane:nth-child(3){
  	top: 73px !important;
  }
  li:hover{
  	color: #f89101;
  }
  li:hover .saStrane{
  	visibility: visible !important;
  }
  .konsaltingBottom, .sektorBottom, .konkursBottom{
  	background-color: #181818; width: 250px; height: auto; position: absolute;
    top: 70px; color: white; z-index: 999999999999999; text-align: left; font-family: 'Galano SemiBold'; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; box-shadow:0px 2px 2px black; display: none; margin-left: 90px; font-size: 14px; color: #7c7a71;
  }
  .header__navigation--linkovi span{
  	cursor: pointer;
  }
  .uvod { 
  	background: white; 
  	z-index: 2;
  }
  .mobile__header{
  	background-color: #181818;
  	width: 100%;
  	height: 70px;
  	box-shadow: 0px 20px 80px 0 rgba(31, 31, 31, 0.2);
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
  	z-index: 9999999999999999;
  }
  .line--single{
  	min-width: 35px; 
  	min-height: 5.5px; 
  	border-radius: 5px;
  	background-color: #f6b81b;
  }
  .burgermenu{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
  	height: 30px;
  	position: absolute;
  	right: 25px;
  	top: 23px;
  }
  .mobileBottom{
  	margin-left: 0;
  	right: 0px;
  	border-bottom-right-radius: 0;
  }
  .submenu{
  	margin-left: 20px !important;
  }
  .mojaZiza--extraMen, .oglasi--extraMen{
  	display: none;
  }

  .mobile__header{
  	display: none;
  }

  @media screen and (max-width: 990px){
  	.header{
  		display: none !important;
  	}
  	.mobile__header{
  		display: flex !important;
  	}
  }

.header__navigation--call{
	margin-left: 30px;
}
</style>
<!-- NOVA NAVIGACIJA CSS END-->

<!-- NOVA NAVIGACIJA START -->
<div class="mobile__header">
		<a href="https://ziza.ba/"><img src="https://ziza.ba/static/images/logoNew.png" height="35px"></a>
		<div class="burgermenu">
			<span class="line--single"></span>
			<span class="line--single"></span>
			<span class="line--single"></span>
		</div>
		<span class="sektor">
			<div class="sektorBottom mobileBottom" style="padding-bottom: 30px">
			    <ul style="position: relative;" class="mainNav">
			    	<a href="{% url 'home' %}">
			    		<li>
			    			<div class="saStrane"></div>
			    			Početna
			    		</li>
			    	</a>
			    	<style type="text/css">
			    		.oglasi--navMen{
			    			cursor: pointer;
			    		}
			    	</style>
			    	<!-- prava lokacija -->
					<li class="oglasi--navMen">
						<div class="saStrane" style="top: 33px !important;"></div>
						Oglasi
					</li>
			    	<a href="{% url 'konsalting' %}">
			    		<li>
			    			<div class="saStrane" style="top: 75px !important;"></div>
			    			Konsalting
			    		</li>
			    	</a>
			   	</ul>
			   	<ul style="position: relative;" class="oglasi--extraMen">
			    	<li style="color: #f89101" class="oglasi--reactivate"><div class="saStrane"></div><i class="fas fa-chevron-circle-left" style="margin-left: -20px; margin-right: 5px"></i> Oglasi</li>
			    	<li class="submenu tLogin"><div class="saStrane" style="top: 33px !important"></div>Kadrovska potražnja</li>
			    	<li class="submenu tLogin"><div class="saStrane" style="top: 75px !important;"></div>Poslovni oglas</li>
			    	<li class="submenu tLogin"><div class="saStrane" style="top: 118px !important;"></div>Bankarske usluge</li>
			    	<li class="submenu tLogin"><div class="saStrane" style="top: 160px !important;"></div>Usluge osiguranja</li>
			    	<li class="submenu tLogin"><div class="saStrane" style="top: 200px !important;"></div>Pregled poslovnih oglasa</li>
			    	<li class="submenu tLogin"><div class="saStrane" style="top: 240px !important;"></div>Pregled konkursa</li>
			   	</ul>
			   	<div style="height: 1px; width: 100%; background: #f89101;"></div>
			   	<div style="display: flex; align-items: center; justify-content: center; margin-top: 25px">
			   		<div style="font-family: Galano Bold; font-size: 10px; color: #ffffff; display: flex;
			   		justify-content: center; align-items: center; border-radius: 10px; border: solid 1px #f6b81b; width: 90px; height: 35px;" class="tLogin">PRIJAVA</div>
			   		<div style="font-family: Galano Bold; font-size: 10px; color: #000000; display: flex;
			   		justify-content: center; align-items: center; border-radius: 10px; background: #f6b81b; width: 100px; height: 35px; margin-left: 10px; box-shadow: 0px 5px 40px 0 rgba(246, 184, 27, 0.5);" class="tRegister">REGISTRACIJA</div>
			   	</div>
			</div>
		</span>
	</div>

	<div class="header">
		<div class="header__language">
				<p>BHS</p><img src="{% static 'images/arrow.png' %}" width="10px" height="5px">
			</div>
		<div class="header__navigation--undefined"></div>
		<div class="header__navigation">
			<div class="header__navigation--linkovi">
				<span onclick="location.href='{% url 'home' %}'" class="selected" id="pocetna_nav">Početna</span>
                <span class="konkurs" id="oglasi_nav">Oglasi
					<div class="konkursBottom">
					    <ul>
					    	<li class="tLogin" ><div class="saStrane" ></div> Kadrovska potraznja </li>
					    	<li class="tLogin" ><div class="saStrane" style="top: 33px !important;"></div> Poslovni oglas</li>
					    	<li class="tLogin" ><div class="saStrane" style="top: 75px !important;"></div> Bankarske usluge</li>
					    	<li class="tLogin" ><div class="saStrane" style="top: 118px !important;"></div> Usluge osiguranja</li>
                            <li class="tLogin" ><div class="saStrane" style="top: 160px !important; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px"></div> Pregled poslovnih oglasa</li>
                            <li class="tLogin" ><div class="saStrane" style="top: 200px !important; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px"></div> Pregled konkursa</li>
					    </ul>
					</div>
				</span>
				<span class="konsalting" id="konsalting_nav" onclick=" location.href='{% url 'konsalting' %}'" >Konsalting

				</span>
				<span onclick="location.href='/onama'" style="width: 80px; margin-right: 20px" id="onama_nav">O nama</span>
				<span onclick="location.href='/firme'" style="width: 80px" id="clanice_nav">Članice</span>
			</div>
			<div class="header__navigation--dugmad">
				<span id="myBtn2" style="cursor: pointer;">Prijava</span>
				<span id="myBtn" style="cursor: pointer;">Registracija</span>
			</div>
			<div class="header__navigation--call">
				<img src="{% static 'images/optimised/dial-min.png' %}" draggable="false" width="11px" height="16px">
				<p><a href="tel:+387603158565">+387 60 315 8565</a> <span class="gray">Pon-Pet 9h-18h</span></p>
			</div>
		</div> <!-- header__navigation -->
	</div><!-- header -->

<!-- NOVA NAVIGACIJA END -->

    <script>

    $(".tLogin").click(function(){
        var modal2 = document.getElementById('myModal2');
        modal2.style.display = "block";
    });

    $(".tRegister").click(function(){
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    });

    </script>
{% endif %}

{% if var2 %}
<!-- NAVIGACIJA KADA JE KORISNIK LOGIRAN TJ. FIRMA -->

<style type="text/css">
ul {list-style: none}
	li::before {content: ""; color: #f6b81b;
  display: inline-block; width: 1em;
  margin-left: -1em}
  li:nth-child(1){
  	margin-top: 20px;
  }
  li{
  	margin-bottom: 20px;
  }
  ul{
  	position: relative;
  }
  .saStrane{
  	position: absolute; height: 40px; width: 4px; background: #f89101; left: 0px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; top:-6px; visibility: hidden;
  }
  ul .saStrane:nth-child(2){
  	top: 33px !important;
  }
  ul .saStrane:nth-child(3){
  	top: 73px !important;
  }
  li:hover{
  	color: #f89101;
  }
  li:hover .saStrane{
  	visibility: visible !important;
  }
  .konsaltingBottom, .sektorBottom, .konkursBottom, .postavkeBottom{
  	background-color: #181818; width: 250px; height: auto; position: absolute;
    top: 70px; color: white; z-index: 999999999999999; text-align: left; font-family: 'Galano SemiBold'; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; box-shadow:0px 2px 2px black; display: none; margin-left: 90px; font-size: 14px; color: #7c7a71;
  }
  .postavkeBottom{
  	margin-left: -65px !important;
  }
  .header__navigation--linkovi span{
  	cursor: pointer;
  }

    body { 
  	background: white; 
  }
  .uvod { 
  	background: initial; 
  }
  .mobile__header{
  	background-color: #181818;
  	width: 100%;
  	height: 70px;
  	border-bottom-left-radius: 10px;
  	box-shadow: 0px 20px 80px 0 rgba(31, 31, 31, 0.2);
  	display: none;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
  }
  .line--single{
  	min-width: 35px; 
  	min-height: 5.5px; 
  	border-radius: 5px;
  	background-color: #f6b81b;
  }
  .burgermenu{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
  	height: 30px;
  	position: absolute;
  	right: 25px;
  	top: 23px;
  }
  .mobileBottom{
  	margin-left: 0;
  	right: 0px;
  	border-bottom-right-radius: 0;
  }
  .submenu{
  	margin-left: 20px !important;
  }
  .mojaZiza--extraMen, .oglasi--extraMen{
  	display: none;
  }

</style>
<!-- HEADER -->

<div class="mobile__header">
		<a href="https://ziza.ba/"><img src="https://ziza.ba/static/images/logoNew.png" height="35px"></a>
		<div class="burgermenu">
			<span class="line--single"></span>
			<span class="line--single"></span>
			<span class="line--single"></span>
		</div>
		<span class="sektor">
			<div class="sektorBottom mobileBottom" style="padding-bottom: 30px">
			    <ul style="position: relative;" class="mainNav">
			    	<a href="{% url 'home' %}"><li><div class="saStrane"></div>Početna</li></a>
                        <li class="oglasi--navMen"><div class="saStrane" style="top: 78px !important;"></div>Oglasi</li>
			    	<a href="{% url 'konsalting' %}"><li><div class="saStrane" style="top: 117px !important;"></div>Konsalting</li></a>
			    	<a href="/onama"><li><div class="saStrane" style="top: 160px !important;"></div>O nama</li></a>
			    	<a href="/firme"><li><div class="saStrane" style="top: 200px !important;"></div>Članice</li></a>
			   	</ul>
			   	<ul style="position: relative;" class="oglasi--extraMen">
			    	<li style="color: #f89101" class="oglasi--reactivate"><div class="saStrane"></div><i class="fas fa-chevron-circle-left" style="margin-left: -20px; margin-right: 5px"></i> Oglasi</li>
			    	<a href="{% url 'newpost' %}"><li class="submenu tLogin"><div class="saStrane" style="top: 33px !important"></div>Kadrovska potražnja</li></a>
			    	<a href="{% url 'newpotraznja' %}"><li class="submenu tLogin"><div class="saStrane" style="top: 75px !important;"></div>Poslovni oglas</li></a>
			    	<a href="{% url 'bankUsluge' %}"><li class="submenu tLogin"><div class="saStrane" style="top: 118px !important;"></div>Bankarske usluge</li></a>
			    	<a href="{% url 'osiguranjeUsluge' %}"><li class="submenu tLogin"><div class="saStrane" style="top: 160px !important;"></div>Usluge osiguranja</li></a>
			    	<a href="{% url 'anonimnaPretraga' id=2 %}"><li class="submenu tLogin"><div class="saStrane" style="top: 200px !important;"></div>Pregled poslovnih oglasa</li></a>
			    	<a href="{% url 'anonimnaPretraga' id=1 %}"><li class="submenu tLogin"><div class="saStrane" style="top: 240px !important;"></div>Pregled konkursa</li></a>
			   	</ul>
			   	<div style="height: 1px; width: 100%; background: #f89101;"></div>
			   	<div style="display: flex; align-items: center; justify-content: center; margin-top: 25px">
			   		 <a href="{% url 'signout' %}"><div style="font-family: Galano Bold; font-size: 10px; color: #ffffff; display: flex;
			   		justify-content: center; align-items: center; border-radius: 10px; border: solid 1px #f6b81b; width: 90px; height: 35px;" class="tLogin">ODJAVA</div></a>
                    {% if usr == 'comp' %}
			   		 <a href="{% url 'dashboard' %}"><div style="font-family: Galano Bold; font-size: 10px; color: #000000; display: flex;
			   		justify-content: center; align-items: center; border-radius: 10px; background: #f6b81b; width: 100px; height: 35px; margin-left: 10px; box-shadow: 0px 0px 20px 0 rgba(246, 184, 27, 0.5)">MOJA ŽIŽA</div></a>
                    {% elif usr == 'wrkr' %}
                     <a href="{% url 'mojaKarijera' %}"><div style="font-family: Galano Bold; font-size: 10px; color: #000000; display: flex;
			   		justify-content: center; align-items: center; border-radius: 10px; background: #f6b81b; width: 100px; height: 35px; margin-left: 10px; box-shadow: 0px 5px 40px 0 rgba(246, 184, 27, 0.5);">MOJA KARIJERA</div></a>
                    {% endif %}
			   	</div>
			</div>
		</span>
	</div>


	<div class="header">
		<div class="header__language">
			<p>BHS</p><img src="{% static 'images/arrow.png' %}" width="10px" height="5px">
		</div>
		<div class="header__navigation--undefined"></div>
		<div class="header__navigation">
			<div class="header__navigation--linkovi">
				<span onclick="location.href='/home'" class="pocetNa">Početna</span>
				<span {% if usr != 'comp' %} onclick="location.href='{%  url 'anonimnaPretraga' id=1 %}'" {% endif %}  class="konkurs">Oglasi
                    {% if usr == 'comp' %}
					<div class="konkursBottom">
					    <ul>
					    	<a href="{% url 'newpost' %}"><li><div class="saStrane" ></div> Kadrovska potraznja </li></a>
					    	<a href="{% url 'newpotraznja' %}"><li><div class="saStrane" style="top: 33px !important;"></div> Poslovni oglas</li></a>
					    	<a href="{% url 'bankUsluge' %}"><li><div class="saStrane" style="top: 75px !important;"></div> Bankarske usluge</li></a>
					    	<a href="{% url 'osiguranjeUsluge' %}"><li><div class="saStrane" style="top: 118px !important;"></div> Usluge osiguranja</li></a>
                            <a href="{% url 'anonimnaPretraga' id=2 %}" ><li><div class="saStrane" style="top: 160px !important; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px"></div> Pregled poslovnih oglasa</li></a>
                            <a href="{% url 'anonimnaPretraga' id=1 %}" ><li><div class="saStrane" style="top: 200px !important; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px"></div> Pregled konkursa</li></a>
					    </ul>
					</div>
                        {% endif %}
				</span>
				<span class="konsalting" id="konsalting_nav" onclick=" location.href='{% url 'konsalting' %}'" >Konsalting

				</span>
				<span onclick="location.href='/onama'" style="width: 80px;  margin-right: 20px" id="onama_nav">O nama</span>
				<span onclick="location.href='/firme'" style="width: 80px" id="clanice_nav">Članice</span>
			</div>
			<div class="header__navigation--dugmad">
				<div style="display: flex; justify-content: center; align-items:  center; align-content: center;">
					<div style="width: 42px; height: 42px; border-radius: 50%; background: url({% if var3.image %}{{var3.image.url }}{% endif %}); background-position: center; background-size: cover"></div>
					<div style="cursor: pointer; color: #fecd35; font-family: Myriad; padding-bottom: 30px; padding-top: 30px; font-size: 12px; margin-left: 16px; margin-right: 50px" class="postavke">{{var1.first_name }}<i class="fas fa-angle-down" style="color: #f89101; margin-left: 5px"></i>
					<div class="postavkeBottom">
					    <ul style="position: relative;">
					    	 <a href="{% url 'profil' %}"><li><div class="saStrane"></div>Profil</li></a>
                             <a href="{% url 'editprofil' %}"><li><div class="saStrane" style="top: 33px !important;"></div>Postavke</li></a>
					    	 <a href="{% url 'signout' %}"><li class="logoutBtn"><div class="saStrane" style="top: 73px !important;"></div>Odjava</li></a>
					    </ul>
					</div>
				</div>
				</div>
				 {% if usr == 'comp' %}
			   		 <a href="{% url 'dashboard' %}"><div style="font-family: Galano Bold; font-size: 10px; color: #000000; display: flex;
			   		justify-content: center; align-items: center; border-radius: 10px; background: #f6b81b; width: 100px; height: 35px; margin-left: 10px; box-shadow: 0px 0px 20px 0 rgba(246, 184, 27, 0.5)">MOJA ŽIŽA</div></a>
                    {% elif usr == 'wrkr' %}
                     <a href="{% url 'mojaKarijera' %}"><div style="font-family: Galano Bold; font-size: 10px; color: #000000; display: flex;
			   		justify-content: center; align-items: center; border-radius: 10px; background: #f6b81b; width: 100px; height: 35px; margin-left: 10px; box-shadow: 0px 5px 40px 0 rgba(246, 184, 27, 0.5);">MOJA KARIJERA</div></a>
                    {% endif %}
			</div>
			<div class="header__navigation--call">
				<img src="{% static 'images/optimised/dial-min.png' %}" draggable="false" width="11px" height="16px">
				<p><a href="tel:+387603158565">+387 60 315 8565</a> <br> <span class="gray">Pon-Pet 9h-18h</span></p>
			</div>
		</div> <!-- header__navigation -->
	</div> <!-- header -->
{% endif %}

{% load sweetify %}
    {% sweetify %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
<script type="text/javascript" src="../static/skripta.js"></script>

<script>
	$( ".konsalting" ).mouseover(function() {
		$('.konsaltingBottom').css('display', 'block');
	}).mouseout(function() {
		$('.konsaltingBottom').css('display', 'none');
	});

	$( ".sektor" ).mouseover(function() {
		$('.sektorBottom').css('display', 'block');
	}).mouseout(function() {
		$('.sektorBottom').css('display', 'none');
	});

	$( ".konkurs" ).mouseover(function() {
		$('.konkursBottom').css('display', 'block');
	}).mouseout(function() {
		$('.konkursBottom').css('display', 'none');
	});

	$( ".postavke" ).mouseover(function() {
		$('.postavkeBottom').css('display', 'block');
	}).mouseout(function() {
		$('.postavkeBottom').css('display', 'none');
	});
</script>
<script type="text/javascript">
		$('.burgermenu').click(function(){
			$('.mobileBottom').toggle();
		});
</script>
<script type="text/javascript">
	$('.mojaZiza--navMen, .mojaZiza--reactivate').click(function(){
		$('.mojaZiza--extraMen').toggle();
		$('.mainNav').toggle();
	});
	$('.oglasi--navMen, .oglasi--reactivate').click(function(){
		$('.oglasi--extraMen').toggle();
		$('.mainNav').toggle();
	});
	$('.tLogin, .tRegister').click(function(){
		$('.mobileBottom').toggle();
	});
</script>
<style type="text/css">
	@media screen and (max-width: 990px){
	  	.header{
	  		display: none !important;
	  	}
	  	.mobile__header{
	  		display: flex !important;
	  	}
  	}
</style>