<!DOCTYPE html>
<html lang="ba">
{% load static %}
<head>
	<title>ŽIŽA.ba | Naslovnica</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Platforma za poslovne ponude, B2B suradnje i pronalazak ljudskih resursa.">
    <meta name="keywords" content="žiža, posao, B2B suradnja, ponuda, potražnja, oglasi za posao">
    <meta name="author" content="META5">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '566542797172142');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	  src="https://www.facebook.com/tr?id=566542797172142&ev=PageView&noscript=1"
	/></noscript>
</head>
<body>

<style type="text/css">
ul {list-style: none}
	li::before {content: "•"; color: #f6b81b;
  display: inline-block; width: 1em;
  margin-left: -1em}
  .konsaltingBottom{
  	background-color: #262626; width: 250px; height: 170px; position: absolute;
    top: 70px; color: white; z-index: 999999999999999; text-align: left; font-family: 'Galano Regular'; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; box-shadow:0px 2px 2px black; display: none;
  }
  .header__navigation--linkovi span{
  	cursor: pointer;
  }

.logotipNavbarMali{
			position: absolute;
			top: 17px;
			width: 85px;
			left: 292px;
			z-index: 999;
		}
		@media only screen and (max-width: 1700px){
			.logotipNavbarMali{
				left: 200px;
			}
		}
		@media only screen and (max-width: 1485px){
			.logotipNavbarMali{
				left: 150px;
			}
		}
		
		@media only screen and (max-width: 1316px){
			.header__navigation {
				border-bottom-left-radius: 0px;
				box-shadow: none !important;
			}
			.logotipNavbarMali{
				display: none !important;
			}
		}
</style>

<img src="/static/images/logoNew.png" class="logotipNavbarMali">

{% with var1=user var2=auth var3=userP usr=usr %}
{% include 'header.html' %}
{% endwith %}

<style type="text/css">
    	body{
    		background: #f9f5e5 !important;
    	}
    	.navigacija, .header__navigation--call{
    		visibility: hidden !important;
    	}
    	.header__navigation--undefined{
    		background-color: #181818 !important;
    		border-bottom-left-radius: 0px;
    	}
    	.header__language{
    		background-color: #181818 !important;
    	}
    	.header__language p, .header__language img{
    		display: none;
    	}
    	.mobile__header{
			border-bottom-left-radius: 0px !important;
		}
		@media only screen and (max-width: 990px){
			body{
				margin-top: -20px !important;
			}
		}
		.desniDio_job__opis { height: 0px !important; }
		.desniDio_job__opis h5{
		 	height: 0px !important;
		 	margin-top: 70px !important;
		 }
		 .desniDio_job__naziv h4 {
		    text-transform: uppercase;
		}

    </style>

	<div class="uvod">
		<div class="uvod__linkovi">
			<img src="../static/images/optimised/rss-min.png" draggable="false" width="16px" height="16px">
			<img src="../static/images/optimised/linkedin-min.png" draggable="false" width="16px" height="15px">
			<img src="../static/images/optimised/twitter-min.png" draggable="false" width="16px" height="13px">
			<img src="../static/images/optimised/facebook-min.png" draggable="false" width="16px" height="16px">
			<p>Pratite nas</p>
		</div>
		<div class="uvod__tekst">
			<h1>ŽIŽA</h1>
			<p>Za povezivanje i poboljšanje <br> Vašeg poslovanja!</p>
			<div class="dugme" style="cursor: pointer;">Zašto Žiža?</div>
			<img src="../static/images/optimised/arrowBig-min.png" draggable="false" width="64px" height="32px">
		</div>
		<div class="uvod__slike">
			<div class="uvod__slike--prijava"></div>
			<div class="uvod__slike--pcelaPrijava"></div>
			<div class="uvod__slike--registracija"></div>
			<div class="uvod__slike--pcelaRegistracija"></div>
			<div class="uvod__slike--baloncic">
				<p class="" >?</p>
			</div>
		</div> <!-- uvod__slike -->
	</div> <!-- uvod -->
	<div class="zadnjiPoslovi">
		<div class="zadnjiPoslovi__popularno">
			<h2>POPULARNO</h2>
			<p>Najpopularniji oglasi za posao u posljednja 24 sata!</p>
			<div class="zadnjiPoslovi__popularno--slajder">
				<div class="slider-poslovi" style="display: flex; justify-content: flex-start; align-items: center;margin-left: -90px">
					<h3 style="margin-left: 130px; margin-bottom: 70px"><span id="cijenaRada" style="color: inherit">1200</span>+<span>KM</span></h3>

					<div class="zadnjiPoslovi__popularno--slajder__sac prviEl" id="lijevo">
						<div class="slikaVodoinstalater"></div>
					</div>
					<div class="zadnjiPoslovi__popularno--slajder__sac centralni" id="centar">
						<!-- <h3>1200+<span>KM</span></h3> -->
						<div class="slikaBiznismen" id="biz"></div>
						<!-- <p>Traži se komercijalista na području Mostara!</p> -->
					</div>
					<div class="zadnjiPoslovi__popularno--slajder__sac treciEl" id="desno">
						<div class="slikaPolicajac"></div>
					</div>
					<p id="traziSe">Traži se <strong>komercijalista</strong> na području Mostara!</p>
				</div>
				<div class="zadnjiPoslovi__popularno--dots">
					<div class="dot"></div>
					<div class="dot active"></div>
					<div class="dot"></div>
				</div>
			</div>
		</div>
		<div class="zadnjiPoslovi__last">
			<div class="zadnjiPoslovi__last--kategorije">
				<h3 id="posaoButton">POSAO</h3>
				<h3 id="biznisButton">BIZNIS</h3>
			</div>
			<div class="zadnjiPoslovi__last--navigator">
				<div class="zadnjiPoslovi__last--navigator--left"></div>
				<div class="zadnjiPoslovi__last--navigator--right"></div>
			</div>
			<div class="zadnjiPoslovi__last--timeline">
				<div class="zadnjiPoslovi__last--timeline--stavka">
					<div class="lijeviDio_time">
						<div class="lijeviDio_time__linija"></div>
						<div class="lijeviDio_time__minuta"><h4 class="lijeviDio_time__minuta--broj">7</h4></div>
						<div class="lijeviDio_time__minuta"><h5 class="lijeviDio_time__minuta--tekst">min</h5></div>
					</div>
					<div class="desniDio_job">
						<div class="desniDio_job__naziv"><h4>GRAĐEVINA</h4></div>
						<div class="desniDio_job__opis"><h5>Traži se djelatnik za rad na mješalici</h5></div>
					</div>
				</div>
				<div class="zadnjiPoslovi__last--timeline--stavka">
					<div class="lijeviDio_time">
						<div class="lijeviDio_time__linija duza"></div>
						<div class="lijeviDio_time__minuta"><h4 class="lijeviDio_time__minuta--broj">15</h4></div>
						<div class="lijeviDio_time__minuta"><h5 class="lijeviDio_time__minuta--tekst">min</h5></div>
					</div>
					<div class="desniDio_job">
						<div class="desniDio_job__naziv"><h4>GRAĐEVINA</h4></div>
						<div class="desniDio_job__opis"><h5>Traži se djelatnik za rad na mješalici</h5></div>
					</div>
				</div>
				<div class="zadnjiPoslovi__last--timeline--stavka">
					<div class="lijeviDio_time">
						<div class="lijeviDio_time__linija duza"></div>
						<div class="lijeviDio_time__minuta"><h4 class="lijeviDio_time__minuta--broj">26</h4></div>
						<div class="lijeviDio_time__minuta"><h5 class="lijeviDio_time__minuta--tekst">min</h5></div>
					</div>
					<div class="desniDio_job">
						<div class="desniDio_job__naziv"><h4>GRAĐEVINA</h4></div>
						<div class="desniDio_job__opis"><h5>Traži se djelatnik za rad na mješalici</h5></div>
					</div>
				</div>
				<div class="zadnjiPoslovi__last--timeline--stavka">
					<div class="lijeviDio_time">
						<div class="lijeviDio_time__linija duza"></div>
						<div class="lijeviDio_time__minuta"><h4 class="lijeviDio_time__minuta--broj">42</h4></div>
						<div class="lijeviDio_time__minuta"><h5 class="lijeviDio_time__minuta--tekst">min</h5></div>
						<div class="lijeviDio_time__linija zadnja"></div>
					</div>
					<div class="desniDio_job">
						<div class="desniDio_job__naziv"><h4>GRAĐEVINA</h4></div>
						<div class="desniDio_job__opis"><h5>Traži se djelatnik za rad na mješalici</h5></div>
					</div>
				</div>
			</div> <!-- zadnjiPoslovi__last--timeline -->
		</div> <!-- zadnjiPoslovi__last -->
	</div> <!-- zadnjiPoslovi -->
	<div class="kartice">
		<div class="kartice__trazitePosao">
			<h3>Tražite posao?</h3>
			<p>Consectetuer adipiscing elit, sed diam nonummy euismod.</p>
			<h4>500+ otvorenih konkursa</h4>
			<div class="linijaPosao"></div>
			<img src="../static/images/worker_bee.png">
		</div>
		<div class="kartice__trazitePartnera">
			<h3>Tražite posao?</h3>
			<p>Mirum est notare quam littera gothica, nunc putamus.</p>
			<h4>50+ firmi spremnih za suradnju</h4>
			<img src="../static/images/money_bee.png">
		</div>
	</div> <!-- kartice -->
	<div class="oglasi">
		<div class="oglasi__kartica prvaKartica">
			<div class="selectUp"></div>
			<div class="oglasi__kartica--sadrzaj">
				<div class="oglasi__kartica--sadrzaj--tekst">
					<div><h3>Konobar, ugostiteljstvo, šanker</h3></div>
					<div class="detalji"><p class="zanimanje">Ugostiteljstvo</p><p class="vrijemeObjave">Prije 6h <span>Mostar, BiH</span></p></div>
				</div>
				<div class="oglasi__kartica--sadrzaj--slika"><img src="../static/images/boing.png"></div>
			</div>
		</div>
		<div class="oglasi__kartica">
			<div class="cosakTrokut"><img src="../static/images/munja.png"></div>
			<div class="oglasi__kartica--sadrzaj">
				<div class="oglasi__kartica--sadrzaj--tekst">
					<div><h3>Konobar, ugostiteljstvo, šanker</h3></div>
					<div class="detalji"><p class="zanimanje">Ugostiteljstvo</p><p class="vrijemeObjave">Prije 6h <span>Mostar, BiH</span></p></div>
				</div>
				<div class="oglasi__kartica--sadrzaj--slika"><img src="../static/images/tulip.png"></div>
			</div>
		</div>
		<div class="oglasi__kartica aktivnaKartica">
			<div class="oglasi__kartica--sadrzaj">
				<div class="oglasi__kartica--sadrzaj--tekst">
					<div><h3>Konobar, ugostiteljstvo, šanker</h3></div>
					<div class="detalji"><p class="zanimanje">Ugostiteljstvo</p><p class="vrijemeObjave">Prije 6h <span>Mostar, BiH</span></p></div>
				</div>
				<div class="oglasi__kartica--sadrzaj--slika"><img src="../static/images/unicum.png"></div>
			</div>
		</div>
		<div class="oglasi__kartica">
			<div class="cosakTrokut"><img src="../static/images/munja.png"></div>
			<div class="oglasi__kartica--sadrzaj">
				<div class="oglasi__kartica--sadrzaj--tekst">
					<div><h3>Konobar, ugostiteljstvo, šanker</h3></div>
					<div class="detalji"><p class="zanimanje">Ugostiteljstvo</p><p class="vrijemeObjave">Prije 6h <span>Mostar, BiH</span></p></div>
				</div>
				<div class="oglasi__kartica--sadrzaj--slika"><img src="../static/images/infinite.png"></div>
			</div>
		</div>
	</div> <!-- oglasi -->
	<div class="testmoniali">
		<div class="callToRegister"><img src="../static/images/registrirajse.png"></div>
		<h1>ZAŠTO ŽIŽA?</h1>
		<div class="testmoniali__kucice">
			<div class="testmoniali__kucice--single">
				<p style="word-break: normal;">Idealno mjesto za povećanje poslovne ponude i potražnje. Olakšava poslovnu komunikaciju (vidljivost) sa potencijalnim (inostranim) partnerima i investitorima. Jednostavno dobar alat za povećanje konkurentnosti bosansko-hercegovačkih kompanija.</p>
				<div>
					<h4>Redah</h4>
					<h5>Regionalna razvojna agencija za <br> ekonomski razvoj</h5>
					<div class="navodnici">“</div>
				</div>
			</div>
			<div class="testmoniali__kucice--single">
				<p style="word-break: normal;">Fenomenalno, pored svih mogućnosti da vidite i budete viđeni, Žiža svojim članicama omogućava gratis postavljanje oglasa za posao. Naša kompanija je 57. kompanija po rastu u Evropi, te samim tim imamo veliku potrebu za zapošljavanjem novog kadra. Do sada smo naše konkurse objavljivali preko različitih portala i to nas je koštalo veoma mnogo novaca. Ovo je jednostavno rješenje za smanjenje ovih troškova.</p>
				<div>
					<h4>NSoft</h4>
					<h5>IT kompanija</h5>
					<div class="navodnici">“</div>
				</div>
			</div>
			<div class="testmoniali__kucice--single">
				<p style="word-break: normal;">Mogućnost da Vas neka kompanija pronađe na osnovu vašeg CV-a i ponudi Vam posao je fantastična. Žiža omogućava upravo to da su stručnjaci konkurentni na tržištu rada. Nešto kao i transferi u fudbalu, dobar radnik je u "izlogu", a dobiće ga kompanija koja će najbolje cijeniti njegove usluge. Mi u "Novom Travniku" smo spremni za taj izazov!</p>
				<div>
					<h4></h4>
					<h5></h5>
					<div class="navodnici">“</div>
				</div>
			</div>
			<div class="testmoniali__kucice--single">
				<p style="word-break: normal;">Žižini IT eskperti Vam mogu ponuditi moderna IT rješenja te Vam na taj način umanjiti troškove organizacije i najma skupih stranih IT rješenja.</p>
				<div>
					<h4>META5</h4>
					<h5>Kompanija za razvoj softvera</h5>
					<div class="navodnici">“</div>
				</div>
			</div>
			<div class="testmoniali__kucice--single">
				<p style="word-break: normal;">"Sve banke i osiguranja na jednom mjestu. Postavite Vaše finansijske ili osiguravajuće potrebe i vrlo brzo dobijete ponudu većine banaka i osiguravajućih društava. Na vama je da izaberete najbolje." Ovo je odlična zamisao, štedi vrijeme i povećava konkurenciju a Vama nudi najbolje na tržištu!</p>
				<div>
					<h4>Nedim Šuta</h4>
					<h5>FINLAB d.o.o.</h5>
					<div class="navodnici">“</div>
				</div>
			</div>
			<div class="testmoniali__kucice--single">
				<p style="word-break: normal;">Skup eksperata Vam omogućava obuku, edukaciju Vašeg kadra te interim (privremeni) menadžment koji angažuje uključivanje privremenih (iskusnih) menadžera s kojima možete prevazići period bez adekvatnog kadra. U periodu rada interim menadžeri su u stanju obučiti Vaše talentovane uposlenike kako bi preuzeli te funkcije a vi dobili pouzdanog budućeg menadžera. Pored ovoga Žiža nudi finanskijska i (internacionalna) pravna savjetovanja.</p>
				<div>
					<h4>Doc. dr. sc. Affan Ćehajić</h4>
					<div class="navodnici">“</div>
				</div>
			</div>
		</div>
	</div> <!-- testmoniali -->

{% with auth=auth %}
			{% include 'footer.html' %}
            {% endwith %}

{% load sweetify %}
{% sweetify %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
<script type="text/javascript" src="../static/skripta.js"></script>
<script>
		        $(document).ready(function (){
		            $(".dugme").click(function (){
		                $('html, body').animate({
		                    scrollTop: $(".testmoniali").offset().top
		                }, 2000);
		            });
		        });


		        $( ".konsalting" )
  .mouseover(function() {
    $('.konsaltingBottom').css('display', 'block');
  })
  .mouseout(function() {
    $('.konsaltingBottom').css('display', 'none');
  });
		    </script>
</html>
