<!DOCTYPE html>
<html lang="ba">
<head>
	<title>ŽIŽA.ba | Oglas</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="description" content="Platforma za poslovne ponude, B2B suradnje i pronalazak ljudskih resursa.">
    <meta name="keywords" content="žiža, posao, B2B suradnja, ponuda, potražnja, oglasi za posao">
    <meta name="author" content="META5">
	<meta charset="utf-8">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "style-oglas.css" %}">
</head>
<body>
	<div class="coverSlika">
		<div class="navigacija">
			<div class="breadcrumb">
				<a href="{% url 'home' %}">Početna</a>
				<img src="{% static "images/arrowDesnoZuto.png" %}">
				<a href="#">Oglasi</a>
				<img src="{% static "images/arrowDesnoZuto.png" %}">
				<a href="#">Industrija</a>
			</div>
			<div class="linijaD"></div>
		</div>
		<div class="tvrtka">
			<div class="avatarKucica">
                {% if userP.image %}
                <img style="height: 200px; width: 250px;" src="{{ userP.image.url }}">
                {% endif %}
            </div>
			<div class="podaciT">
				<div>TVRTKA</div>
				<div>{{ post.userID.first_name }}</div>
				<div>
					<span></span>
					<span>Vidi ostale {{ post.userID.first_name }} oglase</span>
				</div>
			</div>
		</div>
	</div>
	<div class="glavniDio">
		<div class="uvodniDio">
			<div class="trazimo">
				<h2><span>OGLAS /</span> {% if post.type == 1 %} {{ post.title }} {% else %} {{ b2b }} : {{ post.categoryID.name }} {% endif %}</h2>
				<p>Prijavom na oglas {{ post.userID.first_name }} ima uvid u vaš CV!</p>
			</div>
			<div class="downloadPDF">
				<img src="{% static "images/downloadIkona.png" %}"> PDF OGLAS
			</div>
		</div>
		<div class="tabelarni">
			<div>
				<h3>{% if post.type == 1 %}{{ post.location}} {% else %}{{ post.region }}{% endif %}</h3>
				<p>LOKACIJA</p>
			</div>
			<div class="malaLinija"></div>
			<div>
				<h3>{% if post.type == 1 %}{{ post.position }} {% else %}{{ post.categoryID.name }}{% endif %}</h3>
				<p>POZICIJA</p>
			</div>
            {% if post.type == 1 %}
			<div class="malaLinija"></div>
			<div>
				<h3>{{ post.experience }}</h3>
				<p>GODINE ISKUSTVA</p>
			</div>

			<div class="malaLinija"></div>
			<div>
				<h3>{{ post.specialty }}</h3>
				<p>STRUČNA SPREMA</p>
			</div>
        {% endif %}
		</div>
		<div class="detaljniOpis">

            {{ post.content|safe }}

		</div>
		<div class="navigacijaFooter">
			<div class="prevTraka">
				<img src="{% static "images/lijevoOglas.png" %}" style="cursor: pointer;" class="lijevoEd">
				<div>
					<span>PRIJAŠNJI OGLAS</span>
					<span>Violeta</span>
				</div>
			</div>
			<img src="{% static "images/prijavaoglas.png" %}" class="srednjaSlika" style="cursor: pointer;">
			<div class="prevTraka" style="justify-content: flex-end;">
				<div style="margin-left: 0">
					<span>SLJEDEĆI OGLAS</span>
					<span style="color: #f89101; text-align: right;">Volkswagen</span>
				</div>
				<img src="{% static "images/desnoOglas.png" %}" style="margin-right: 39px; cursor: pointer;" class="desnoEd">
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
<script type="text/javascript" src="{% static "skripta.js" %}"></script>
</html>