    <!DOCTYPE html>
    <html lang="ba">
    <head>
        <title>ŽIŽA.ba | Lista poslovaa</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="description" content="Platforma za poslovne ponude, B2B suradnje i pronalazak ljudskih resursa.">
        <meta name="keywords" content="žiža, posao, B2B suradnja, ponuda, potražnja, oglasi za posao">
        <meta name="author" content="META5">
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "style-logiran.css" %}">

        <style>
    a{ text-decoration:none;}
    .pozicija{
            word-break: break-word;
        }
    </style>

    </head>
    <body>
    <form id="logoutForm" action="{% url 'signout' %}" method="post" style="visibility:hidden;display:none">
        {% csrf_token %}
    </form>
        <style type="text/css">
            .navigacijaTipke {
                display: flex;
                margin-left: 330px;
            }
            .navigacijaTipke div{
                cursor: pointer;
                height: 40px;
                width: 35px;
                border-radius: 3px;
                background-color: #fff;
                font-size: 14px;
                color: #7c7a71;
                font-family: 'Galano Regular';
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .navigacijaTipke>div:hover{
                background-color: #ffffff;
                box-shadow: 0px 5px 10px 0 rgba(177, 176, 171, 0.25);
                color: #f89101;
            }
            .activTip{
                background-color: #f89101 !important;
                box-shadow: 0px 5px 10px 0 rgba(248, 145, 1, 0.3) !important;
                color: #fff !important;
            }
            @media only screen and (max-width: 889px){
                .kucice{
                    margin-bottom: -650px;
                }
                .navigacijaTipke {
                    margin-left: 0;
                    justify-content: center;
                    margin-bottom: -50px;
                }
            }
            .pozicija{
            word-break: break-word;
        }
        </style>

    {% with var1=user var2=auth var3=userP usr=usr %}
    {% include 'header.html' %}
    {% endwith %}

        <div class="searchTop">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" width="50px" style="position: absolute; top: 90px; right: 30px" class="burgerMenu">
            <h1>IMAMO <u>{{ counter }}</u> PONUDA ZA VAS!</h1>
        </div><!-- searchTop -->
    <form id="pretraga" method="post" action="{% url 'pretraga' %}">

    {% csrf_token %}
    <input id="pretrazi" type="hidden" value="True" name="pretragaTrigger">

        <div class="searchBox">
            <div class="prviRedTrake">
            <input type="text" name="kljucnaRijec" placeholder="Ključna riječ">
            <select name="kategorije">
                <option value="" disabled selected>Kategorija</option>
                {% for c in cat %}
                <option value="{{ c.name }}">{{ c.name }}</option>
                {% endfor %}
            </select>
            <select class="specBoxSel" name="gradovi">
                <option value="" disabled selected>Lokacija</option>
                {% for g in gradovi %}
                <option value="{{ g.name }}">{{ g.name }}</option>
                {% endfor %}
            </select>

            <img id="pretragaBTN" src="{% static 'images/Trazi.png' %}">
            </div>
            <div class="napomene">
                <p>* Traži po ključnoj riječi npr. konobar</p>
                <p style="margin-left: 30px">* Filtriraj po kategorijama npr. građevina</p>
            </div>
        </div><!-- searchBox -->
    </form>
    <div class="kucice">
    {% if counter == 0 %}
        <div class="kolona firstKol">
				<div class="single-kucica respKuc" style="margin-top: -87px">
					<div class="logotipFirme"><img src="{% static 'images/hpinvest.png' %}"></div>
					<div class="jobInfo">
						<span class="struka"></span>
						<span class="pozicija"></span>
						<span class="vrijeme">Prije 0h</span>
						<span class="lokacijarada">Bosna i Hercegovina</span>
						<div class="srce"><img src="{% static 'images/srce.png' %}"></div>
					</div>
				</div>
        <div class="single-kucica respKuc" style="margin-top: -87px">
					<div class="logotipFirme"><img src="{% static 'images/hpinvest.png' %}"></div>
					<div class="jobInfo">
						<span class="struka"></span>
						<span class="pozicija"></span>
						<span class="vrijeme">Prije 0h</span>
						<span class="lokacijarada">Bosna i Hercegovina</span>
						<div class="srce"><img src="{% static 'images/srce.png' %}"></div>
					</div>
				</div>
			</div>

			<div class="kolona srednjaKol">
				<div class="single-kucica respKuc" style="margin-top: -87px">
					<div class="logotipFirme"><img src="{% static 'images/hpinvest.png' %}"></div>
					<div class="jobInfo">
						<span class="struka"></span>
						<span class="pozicija"></span>
						<span class="vrijeme">Prije 0h</span>
						<span class="lokacijarada">Bosna i Hercegovina</span>
						<div class="srce"><img src="{% static 'images/srce.png' %}"></div>
					</div>
				</div>
			</div>

			<div class="kolona respKol">
				<div class="single-kucica respKuc" style="margin-top: -87px">
					<div class="logotipFirme"><img src="{% static 'images/hpinvest.png' %}"></div>
					<div class="jobInfo">
						<span class="struka"></span>
						<span class="pozicija"></span>
						<span class="vrijeme">Prije 0h</span>
						<span class="lokacijarada">Bosna i Hercegovina</span>
						<div class="srce"><img src="{% static 'images/srce.png' %}"></div>
					</div>
				</div>
			</div>
    {% else %}
        <!-- KUCICE -->
            <div class="kolona firstKol">

        {% for d in data %}

                {% if forloop.counter == 0 or forloop.counter0|divisibleby:3 %}
                    <a href={% url 'showpost' id=p.userID.userprofile.slugifyName slug=p.url %}>


                <div class="single-kucica">

                    {% for u in users %}
                        {% if d.userID == u %}
                            {% for up in userPs %}
                                 {% if up.userID == u %}
                                     {% if up.image %}
                        <div class="logotipFirme" ><img style="height: 200px; width: 300px; " src="{{ up.image.url }}" ></div>
                                         {% else %}
                        <div class="logotipFirme" ><img src="{% static 'images/pcelafirma.png' %}" ></div>
                                         {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    <div class="jobInfo">
                        <span class="struka">{% if d.type == 2 %} {{ d.title }}: {{ d.categoryID.name }}{% endif %}</span>
                       {% if d.type == 1 %} <span class="pozicija">{{ d.position }}</span>{% endif %}
                        <span class="vrijeme">{{ d.created_at|date:"d.m.Y" }}</span>
                        <span class="lokacijarada">{{ d.location }} {{ d.region }}</span>
                        <div class="srce"><img src="{% static 'images/srce.png' %}"></div>
                    </div>
                </div>
                    </a>
                    {% endif %}
            {% endfor %}
            </div>

    <!--
                <div class="single-kucica" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
                <div class="single-kucica" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
                <div class="single-kucica respKuc" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
                <div class="single-kucica respKuc" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
            -->

            <div class="kolona srednjaKol">
{% for d in data %}
                {% if forloop.counter|divisibleby:3 %}

                <a href={% url 'showpost' id=p.slugifyName slug=p.url %}>
                    <div class="single-kucica">


                    {% for u in users %}
                        {% if d.userID == u %}
                            {% for up in userPs %}
                                 {% if up.userID == u %}
                                     {% if up.image %}
                        <div class="logotipFirme" ><img style="height: 200px; width: 300px;" src="{{ up.image.url }}" ></div>
                                         {% else %}
                        <div class="logotipFirme" ><img src="{% static 'images/pcelafirma.png' %}" ></div>
                                         {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                   <div class="jobInfo">
                        <span class="struka">{% if d.type == 2 %} {{ d.title }}: {{ d.categoryID.name }}{% endif %}</span>
                       {% if d.type == 1 %} <span class="pozicija">{{ d.position }}</span>{% endif %}
                        <span class="vrijeme">{{ d.created_at|date:"d.m.Y"}}</span>
                        <span class="lokacijarada">{{ d.location }} {{ d.region }}</span>
                        <div class="srce"><img src="{% static 'images/srce.png' %}"></div>
                    </div>
                </div>
                </a>

                    {% endif %}
            {% endfor %}
            </div>

            <!--
                <div class="single-kucica" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
                <div class="single-kucica" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
                <div class="single-kucica respKuc" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
            -->


            <div class="kolona respKol">
            {% for d in data %}
                {% if forloop.counter0 == 1 or forloop.revcounter0|divisibleby:3 %}
                <a href={% url 'showpost' id=p.slugifyName slug=p.url %}>
                <div class="single-kucica">

                    {% for u in users %}
                        {% if d.userID == u %}
                            {% for up in userPs %}
                                 {% if up.userID == u %}
                                     {% if up.image %}
                        <div class="logotipFirme" ><img style="width: 300px; height: 200px;" src="{{ up.image.url }}" ></div>
                                         {% else %}
                        <div class="logotipFirme" ><img src="{% static 'images/pcelafirma.png' %}" ></div>
                                         {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                   <div class="jobInfo">
                        <span class="struka">{% if d.type == 2 %} {{ d.title }}: {{ d.categoryID.name }}{% endif %}</span>
                       {% if d.type == 1 %} <span class="pozicija">{{ d.position }}</span>{% endif %}
                        <span class="vrijeme">{{ d.created_at|date:"d.m.Y" }}</span>
                        <span class="lokacijarada">{{ d.location }} {{ d.region }}</span>
                        <div class="srce"><img src="{% static 'images/srce.png' %}"></div>
                    </div>
                </div>
                </a>
                {% endif %}
            {% endfor %}
            </div>
    {% endif %}
    </div>

<!--
                <div class="single-kucica" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
                <div class="single-kucica" style="margin-top: -87px">
                    <div class="logotipFirme"><img src="../static/images/hpinvest.png"></div>
                    <div class="jobInfo">
                        <span class="struka">GRAĐEVINA</span>
                        <span class="pozicija">Ovlašteni inženjer građevine</span>
                        <span class="vrijeme">Prije 6h</span>
                        <span class="lokacijarada">Mostar, Bosna i Hercegovina</span>
                        <div class="srce"><img src="../static/images/srce.png"></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- kucice -->

{#        <div class="navigacijaTipke">#}
{#            <div>1</div>#}
{#            <div class="activTip">2</div>#}
{#            <div>3</div>#}
{#            <div>4</div>#}
{#            <div>5</div>#}
{#            <div>6</div>#}
{#            <div>7</div>#}
{#            <div>8</div>#}
{#            <div>9</div>#}
{#        </div>#}
        <div class="footer">
            <div class="footer__traka">
                <div class="footer__traka--logo">
                    <img src="../static/images/logoNew.png">
                </div>
                <div class="header__navigation--call" style="margin-top: 20px; margin-left: 266px">
                    <img src="../static/images/optimised/dial-min.png" draggable="false" width="11px" height="16px">
                    <p><a href="tel:+387603158565">+387 60 315 8565</a> <span class="gray">Pon-Pet 9h-18h</span></p>
                </div>
                <div class="header__navigation--call" style="margin-top: 20px; margin-left: 49px;">
                    <img src="../static/images/mejl.png" draggable="false" width="16px" height="16px">
                    <p style="margin-bottom: 15px; color: #f89101; margin-left: -3px">support@ziza.ba</p>
                </div>
                <div style="margin-top: 37px; margin-left: 100px">
                    <img src="../static/images/fbg.png" style="margin-right: 14px">
                    <img src="../static/images/tg.png" style="margin-right: 14px">
                    <img src="../static/images/lg.png" style="margin-right: 14px">
                    <img src="../static/images/rg.png">
                    <img src="../static/images/amerika.png" style="margin-left: 69px;">
                    <img src="../static/images/strldl.png" style="margin-bottom: 7px; margin-left: 8px">
                </div>
            </div>
            <div class="footer__content">
                <div class="footer__content--opis">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                    <a href="#">Read More <img src="../static/images/arrowDesno.png" style="margin-left: 10px"></a>
                </div>
                <div class="footer__content--navigacija">
                    <h3>For Candidates</h3>
                    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                        <div class="footer__content--navigacija--item"><img src="../static/images/malaDesno.png">Browse Jobs</div>
                        <div class="footer__content--navigacija--item"><img src="../static/images/malaDesno.png">Browse Companies</div>
                        <div class="footer__content--navigacija--item" style="color: #f89101"><img src="../static/images/malaDesno.png">Categories</div>
                        <div class="footer__content--navigacija--item"><img src="../static/images/malaDesno.png">Submit Resume</div>
                        <div class="footer__content--navigacija--item"><img src="../static/images/malaDesno.png">Dashboard</div>
                    </div>
                </div>
                <div class="footer__content--navigacija">
                    <h3>For Employers</h3>
                    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                        <div class="footer__content--navigacija--item"><img src="../static/images/malaDesno.png">Browse Candidates</div>
                        <div class="footer__content--navigacija--item"><img src="../static/images/malaDesno.png">Post a Job</div>
                        <div class="footer__content--navigacija--item"><img src="../static/images/malaDesno.png">Dashboard</div>
                    </div>
                </div>
                <div class="footer__content--navigacija">
                    <h3>Sign Up for Weekly Newsletter</h3>
                    <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                    <div style="display: flex;">
                        <input type="text" name="" placeholder="Email Address">
                        <div class="sendInput">
                            <img src="../static/images/sanduce.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <p>Copyright © 2018 <span>ŽIŽA</span>. Designed by <span>META5</span>.</p>
                <div class="goToTop">
                    <span>Go to top<img src="../static/images/vrati.png"></span>
                </div>
            </div>
        </div> <!-- footer -->
    {% load sweetify %}
    {% sweetify %}
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../static/skripta.js"></script>
    <script type="text/javascript">
        $('.single-kucica').mouseover(function(){
            $(this).find('.struka').css('color', '#fecd35');
            $(this).find('.struka').css('text-shadow', 'none');
            $(this).css('background-image', 'url(images/neaktivna.png)');
    });
    $('.single-kucica').mouseout(function(){
            $(this).find('.struka').css('color', '#eeede7');
            $(this).find('.struka').css('text-shadow', '0px 5px 10px rgba(22, 22, 22, 0.25)');
            $(this).css('background-image', 'url(images/aktivna.png)');
    });
    </script>
    </html>